@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow Bold"),
        local("PTSans-NarrowBold"),
        url("../fonts/PTSans-NarrowBold.woff2") format("woff2"),
        url("../fonts/PTSans-NarrowBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-main: #0071b8;
  --color-bg: #fff;
  --color-bg-highlight: #eee;;
  --color-text: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111;
    --color-bg-highlight: #222;
    --color-text: #ddd;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: var(--color-text);
  background: var(--color-bg);
}

.container {
  height: 92dvh;
  width: 100vw;
  padding: 4em 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-wrap: balance;
}

.conferenceName {
  font: xx-large "PT Sans Narrow", "Helvetica Neue", "Helvetica", Arial,
sans-serif;
  font-weight: bold;
  margin: 0 auto .25em;
  max-width: 40ch;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media (min-width: 60em) {
  .conferenceName {
    font-size: xxx-large;
  }
}


.btn {
  display: inline-block;
  background: var(--color-main);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.6rem 0.9rem;
  margin: 0.6rem;
  transition: background-color 0.25s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  flex-grow: 0;
}

.btn[disabled] {
  background: #ccc;
  cursor: not-allowed;
}


.explanation {
  --angle: 90;
  --angle-as-percentage: calc(var(--angle) * 100 / 360);
  --percentage-start: calc((50 - (var(--angle-as-percentage) / 2)) * 1%);
  --percentage-end: calc((50 + (var(--angle-as-percentage) / 2)) * 1%);

  font-size: 1.2rem;
  padding: 1em;
  padding-block-start: 5dvh;
  background-color: var(--color-bg-highlight);
  background:
    conic-gradient(
      at 50% 0,
      transparent var(--percentage-start),
      var(--color-bg-highlight)  var(--percentage-start),
      var(--color-bg-highlight) var(--percentage-end),
      transparent var(--percentage-end)
    ),
    linear-gradient(
      transparent 5dvh,
      var(--color-bg-highlight) 5dvh
    );
}

.explanation__content {
  font-size: 1.2rem;
  max-width: 40em;
  margin: 2em auto;
}

a {
  color: var(--color-main);
  font-weight: bold;
}
